# Java class files
*.class
*.jar

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Terraform
.terraform

.DS_Store/
/target

/target
/target/
**/target/

.DS_Store
